body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #333;
    overflow-x: hidden;
}

.container {
    max-width: 1400px;
}

h2, h4 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.qr-form {
    background: #ffffff;
    padding: 25px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-left: 2px solid color(srgb 0.0493 0.1803 0.4781);
border-right: 2px solid color(srgb 0.0493 0.1803 0.4781);
border-bottom: 2px solid color(srgb 0.0493 0.1803 0.4781);
}

.form-label {
    font-weight: 500;
}


.accordion-button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 12px 20px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: left;
}

.accordion-button:hover {
    background-color: #34495e;
}

.accordion-button:not(.collapsed){
    background-color: #235475;
    color: white;
}

.accordion-body {
    background-color: #ecf0f1;
    border-radius: 8px;
    padding: 10px 4px 10px 10px;
}


.buttons-container {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.buttons-container input[type="file"] {
    flex: 1;
}

.buttons-container button {
    padding: 8px 12px;
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 7px;
}

.buttons-container button:hover {
    background-color: #c0392b;
}


.options-export-group button {
    padding: 12px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 100px;
}

.options-export-group button:hover {
    background-color: #2980b9;
}


.qr-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.qr-container:hover {
    transform: scale(1.05);
}


.qr-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 12px solid #000;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    z-index: 1;
    overflow: hidden;
    border-bottom: none !important;
    width: 324px;
}


.qr-title-frame,
.qr-data-frame {
    padding: 0px 15px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.qr-title-frame {
    background-color: #000000;
    color: #ffffff;
    border: 5px solid #000000;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: 2rem;
    width: 324px;
    overflow: hidden;
    box-sizing: border-box;
}

[id^="qrTitleText"] {
    white-space: nowrap;
}

.qr-data-frame {
    margin-top: 5px;
    border: 2px solid #aaaaaa;
    background-color: #ffffff;
    color: #000000;
    width: 350px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px 5px;
}

[id^="qrDataText"] {
    white-space: normal;
    display: inline-block;
    word-break: break-all;
    font-size: 20px;
}


#customContextMenu {
    position: absolute;
    display: none;
    z-index: 10000;
    width: 250px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 0;
}

#customContextMenu .dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
}

#customContextMenu .dropdown-item:hover {
    background-color: #f1f1f1;
}

@media (max-width: 992px) {
    .buttons-container {
        flex-direction: column;
    }

    .options-export-group .btn-success,
    .options-export-group .btn-warning {
        width: 100%;
    }
}


.thumbnail-button {
    background-color: #3498db;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

.thumbnail-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.thumbnail-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#thumbnail {
    box-shadow: 6px 7px 10px #111111;
    width: 420px;
    transform: translateX(-38px) scale(0.8) translateY(-45px);
}


.input-group-rc {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

input.form-control::placeholder {
    color: grey;          
    font-style: italic;    
}


.form-group-rc {
    display: flex;
    flex-direction: column;
    background-color: #3498db;
    width: 170px;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid #195379;
    font-size: 14px;
}


.form-label-rc {
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;
}


.form-control-rc {
    padding: 5px !important;
    font-size: 20px;
    border: 3px solid rgb(110, 110, 110);
    height: 60px;
    width:100%;
    text-align: center;
    transition: border-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}


.form-control-rc:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}


#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loadingSpinner {
    border: 16px solid #3498db;
    border-radius: 50%;
    border-top: 16px solid #235475;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#confirmExportBtn {
    padding: 12px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 100px;
}

#confirmExportBtn:hover {
    background-color: #2980b9;
}


.form-control-color {
    margin-left: 20px;
    height: 50px;
    width: 80px;
    margin-right: 5px !important;
    right: 0px;
    position: absolute;
}


#form-data {
    border: 4px solid #0d2d7a;
}

#form-title-include-data, #form-title-include-title, #export-transparent-bg {
    transform: scale(1.5);
}

.form-switch {
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    background-color: #A3C5DB;
    padding: 5px;
    color: #0d2d7a;
    border-radius: 8px;
}


.mb-3{
    display:flex;
    align-items: center!important;
}

.mb-4{
background-color: #3498db;
padding: 15px 0px 15px 0px;
color: color(srgb 0.0247 0.0959 0.26);
margin-bottom: 0!important;
margin-right: 4px;
margin-left: 4px;
border: 3px solid color(srgb 0.0493 0.1803 0.4781);
border-bottom: 0px;

}

.col-lg-3{
    margin-bottom: 20px;
}

.col-lg-4{
    margin-bottom: 20px;
}

.col-lg-5{
width:420px;
    margin-left: auto;
margin-right: auto;
}


.row{
padding-top: 20px;
padding:10px;
background-color: color(srgb 0.7859 0.8722 0.93);
margin: 0px;
padding-bottom: 0px;
border: 3px solid color(srgb 0.0493 0.1803 0.4781);
margin-right: 4px;
margin-left: 4px;
}

.d-flex{
    width: 100%;
    position: relative;
}

.my-5 {
margin-top: 1rem!important;
margin-bottom: 1rem!important;
}

@media (min-width:992px)
{
.col-lg-3 {
flex: 0 0 auto;
width: 29%;
}
}

.nav-item {
background-color: color(srgb 0.7673 0.8018 0.825);
border: 2px solid color(srgb 0.0493 0.1803 0.4781)!important;
overflow: hidden;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
width: 51.5px;
}

.nav-tabs {
    border-bottom:0!important;
}
.nav-link{
color: color(srgb 0.1381 0.3311 0.4593);
padding-left: 5px;
width:100%;
border-radius:0px;
}

.nav-link:hover{
background-color: #235475;
width:100%;
border-radius:0px;
border:0px;
color:white;
--bs-btn-close-bg:url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%20fill='%23fff'%3E%3Cpath%20d='M.293.293a1%201%200%200%201%201.414%200L8%206.586%2014.293.293a1%201%200%201%201%201.414%201.414L9.414%208l6.293%206.293a1%201%200%200%201-1.414%201.414L8%209.414l-6.293%206.293a1%201%200%200%201-1.414-1.414L6.586%208%20.293%201.707a1%201%200%200%201%200-1.414z'/%3E%3C/svg%3E");
padding-bottom: 9px;
}


#gridOptions{
    background: #ffffff;
padding: 5px;
border-radius: 12px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border: 2px solid color(srgb 0.0493 0.1803 0.4781);
width: 340px;
}

.footer {
    bottom: 0;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.accordion-item{
    border: none;
    margin-bottom: 10px;
}

.accordionFooter {
    background-color: #444;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.4s ease;
    margin-bottom: 5px;
}

.accordionFooter:hover {
    background-color: #555;
}

.accordionFooter:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordionFooter.active:after {
    content: "\2212";
}

.panel {
    padding: 0 15px;
    background-color: #333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    color: #fff;
    margin-bottom: 10px;
}

.panel p {
    margin: 15px 0;
}

.custom-modal-content {
  background-color: #f7f7f7;
  border-radius: 8px;
  border: none;
  width:100%!important;
}

.custom-modal-header {
  background-color: #3498db;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.custom-modal-title {
  font-weight: bold;
}

.custom-btn-close {
  color: white;
  opacity: 1;
}

.custom-modal-body {
  padding: 20px;
}

.custom-modal-footer {
  border-top: none;
  padding: 15px;
}

.custom-btn-secondary {
  background-color: #6c757d;
  border: none;
}

.custom-btn-primary {
  background-color: #3498db;
  border: none;
}

.custom-file-input {
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #ced4da;
}

.custom-textarea {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ced4da;
}

.custom-pre {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

.custom-modal-body .form-label {
  font-weight: bold;
}

.custom-modal-body ul {
  list-style-type: disc;
  padding-left: 20px;
}

.custom-btn-secondary:hover,
.custom-btn-primary:hover {
  opacity: 0.9;
}


@media (max-width: 576px) {
  .custom-modal-body {
    padding: 15px;
  }

  .custom-modal-footer {
    padding: 10px;
  }
}

.modal {
  z-index: 1055;
}

.modal-backdrop {
  z-index: 1050;
}

#multipleQRCode{
    display: block;
    background-color: color(srgb 0.7518 0.8267 0.8766);
    border-left: 2px solid color(srgb 0.0493 0.1803 0.4781);
    border-right: 2px solid color(srgb 0.0493 0.1803 0.4781);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-number-wrapper {
  position: relative;
  display: inline-block;
}

.input-number-wrapper input {    
  font-size: 30px;
}

.spinner-controls {
  position: absolute;
  right: 3px;
  top: 3px;
  height: 54px;
  display: flex;
  flex-direction: column;
}

.spinner-controls button {
  flex: 1;
  width: 30px;
  border: none;
  background: #eee;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
}

.spinner-controls button:hover {
  background: #ccc;
}

.nav-tabs .nav-link {
    display:flex;
}

.ms-2 {
  margin-left: 10px !important;
  width: 5px !important;
  height: 5px;
  margin-top: 5px;
  margin-left: 10px;
}